<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>壱岐市について</h2>
      <ul>
        <li><%= link_to '壱岐市公式HP', "https://www.city.iki.nagasaki.jp/", class: "footer-link" %></li>
        <li><%= link_to '壱岐市観光局', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>対馬市について</h2>
      <ul>
        <li><%= link_to '対馬市公式HP', "https://www.city.tsushima.nagasaki.jp/", class: "footer-link" %></li>
        <li><%= link_to '対馬市観光局', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>離島の友</h2>
      <ul>
        <li><%= link_to '日本離島センター', "https://www.nijinet.or.jp/", class: "footer-link" %></li>
        <li><%= link_to '離島の定義', "https://www.pref.kagoshima.jp/ac07/pr/shima/seika/documents/ritou-seika1-1.pdf", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <div class="footer-contents-lower">
    <%= link_to image_tag("tu_footer.png", class:"logo-white"), "https://www.city.iki.nagasaki.jp/" %>
    <%= link_to image_tag("heritage.png", class:"logo-white"), "https://japan-heritage.bunka.go.jp/ja/index.html" %>
    <%= link_to image_tag("iki-logo.png", class:"logo-white"), "https://www.city.tsushima.nagasaki.jp/" %>
  </div>
    <% unless user_signed_in? %>
      <a><%= link_to "管理者はこちら", new_user_session_path, class:"login" %></a>
    <% end %>
</div>