
<%= render 'shared/header' %>

<div class="access-head">
  <div class="left-head">
    <span><%= image_tag 'ferry2.jpeg', class: 'image5' %></span>
  </div>
  <div class="right-title">
    <h1>船の旅</h1>
  </div>  
  <div class="subtitle">
    <h2>『旅とは移動である』</h2>
  </div>
</div>

<div class="intro">
  <div class="intro-left">実際に行ったことのある担当者おすすめの行き方をご紹介！<br>島旅には船が旅行感を盛り立てる！</div>
  <div class="intro-right"><%= image_tag 'tripper.jpeg', class: 'image6'%></div>
</div>
<div class="access-head2">
  <div class="way-iki">
    <div class="iki">&emsp;博多港〜対馬（厳原港）</div>
    <div class="non-name">
      <div class="access-iki">
        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d424838.7174822452!2d129.79595850513184!3d33.707590906023064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x354191f1ae0e472f%3A0xaf9d0debfb7fa3a9!2zRnVrdW9rYSwgSGFrYXRhIFdhcmQsIENoaWtrxY1ob25tYWNoaSwg77yR77yTLCDljZrlpJrjgbXpoK3nrKwx44K_44O844Of44OK44Or!3m2!1d33.6045556!2d130.3991417!4m5!1s0x356a114042427eef%3A0xef0e2d6a59d92062!2zTmFnYXNha2ksIElraSwg6Iqm6L6655S6566x5bSO5Lit5bGx6KemIOiKpui-uua4r-OCv-ODvOODn-ODiuODq-ODk-ODqw!3m2!1d33.8095326!2d129.7532395!5e0!3m2!1sen!2sjp!4v1629100342290!5m2!1sen!2sjp" width="700" height="450" style="border:2px solid blue;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="access-show">
        <div class="hakata-harbor">博多港</div>
        <div class="iki-harbor">芦辺港</div>
        <div ><%= image_tag 'point.png', class: "point"%></div>
        <div class="ferry">フェリー<br>2時間10分</div>
        <div class="jetfoil">ジェットフォイル<br>1時間5分</div>
      </div>
    </div>
  </div>
  <div class="way-iki">
    <div class="iki">&emsp;博多港〜対馬（厳原港）</div>
    <div class="non-name">
      <div class="access-iki">
        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d423874.90113513375!2d129.56472834701435!3d33.90194532470689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x354191f1ae0e472f%3A0xaf9d0debfb7fa3a9!2zRnVrdW9rYSwgSGFrYXRhIFdhcmQsIENoaWtrxY1ob25tYWNoaSwg77yR77yTLCDljZrlpJrjgbXpoK3nrKwx44K_44O844Of44OK44Or!3m2!1d33.6045556!2d130.3991417!4m5!1s0x35697fd9bb4d7ff7%3A0x695b97444d754462!2sIzuhara%20Port%20Ferry%20Terminal%2C%20Izuharamachi%20Higashizato%2C%20Tsushima%2C%20Nagasaki%20817-0016!3m2!1d34.1978657!2d129.291199!5e0!3m2!1sen!2sjp!4v1629100289607!5m2!1sen!2sjp" width="700" height="450" style="border:2px solid blue;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="access-show">
        <div class="hakata-harbor">博多港</div>
        <div class="iki-harbor">厳原港</div>
        <div ><%= image_tag 'point.png', class: "point"%></div>
        <div class="ferry">フェリー<br>4時間45分</div>
        <div class="jetfoil">ジェットフォイル<br>2時間10分</div>
      </div>
    </div>
  </div>
</div>
<div class="kyushu-hp">
  <%= link_to "九州郵船のホームページはこちら", "https://www.kyu-you.co.jp/" %>
</div>

<%= render 'shared/footer' %>