<%= render 'shared/header' %>

<div class="body">
  <div class="body-text-box">
    <p class="text-upper" id="t1">～五感で感じる日本ふるさと～</p>
    <p class="text-middle" id="t2">日本遺産 国境の島 壱岐・対馬</p>
    <p class="text-lower" id="t3">
      まだ誰も知らない、本来の日本の姿がここにある。
    </p>
  </div>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <div class="wrapper">
    <ul class="slider">
      <li><%= image_tag "tushima-1.jpeg", width:'100%',height:'100%' %></li>
      <li><%= image_tag "tushima-2.jpeg", width:'100%',height:'100%' %></li>
      <li><%= image_tag "iki-1.jpeg", width:'100%', height:'100%' %></li>
      <li><%= image_tag "iki-2.jpeg", width:'100%',height:'100%' %></li>
    </ul>
  </div>
</div>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $(document).ready(function(){
  $('.slider').slick({
    autoplay: true,
    autoplaySpeed: 3500,
    infinite: true,
    adaptiveHeight: true
  });
});
</script>


<%= render 'shared/footer' %>