<%# <div id="splash">
  <div id="splash_text">こんな日本がまだここにあった。</div>
</div> %>

<%= render 'shared/header' %>
<div class="body">
  <div class="body-text-box">
    <p class="text-upper" id="t1">～五感で感じる日本ふるさと～</p>
    <p class="text-middle" id="t2">日本遺産 国境の島&emsp;壱岐・対馬</p>
    <p class="text-lower" id="t3">
      まだ誰も知らない、本来の日本の姿がここにある。
    </p>
  </div>
  <div class="wrapper">
    <ul class="slider">
      <li><%= image_tag "tushima-1.jpeg", width:'100%',height:'100%' %></li>
      <li><%= image_tag "tushima-2.jpeg", width:'100%',height:'100%' %></li>
      <li><%= image_tag "iki-1.jpeg", width:'100%', height:'100%' %></li>
      <li><%= image_tag "iki-2.jpeg", width:'100%',height:'100%' %></li>
    </ul>
  </div>
</div>
<%# <div class="body2">
  <!-- SnapWidget -->
  <div class="insta">
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/956234" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
  </div>
  <div class="letters">
    <h1>離島ってどんなところ</h1>
    <p>『何もない。』</p>
    <p>それが一番に出てくる感想。</p>
    <p>逆に考えて、僕らの住んでいる所には何があるだろうか。</p>
    <p>そんな時は、島に無いものと本土に無いものを考える。</p>
    <p>そうすると、ぽんぽん出てくるのだが、</p>
    <p>比較する必要なんかない。</p>
    <p>そこはありのままでしかない場所だから。</p>
  </div>
</div> %>
<%= render 'shared/footer' %>

<%# 画像自動遷移↓ %>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<%# 画像自動遷移↑ %>

<%# ローディング画面 %>
<%# <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
<!--自作のJS-->
<script>//テキストのカウントアップ+バーの設定
var bar = new ProgressBar.Line(splash_text, {//id名を指定
  easing: 'easeInOut',//アニメーション効果linear、easeIn、easeOut、easeInOutが指定可能
  duration: 2000,//時間指定(1000＝1秒)
  strokeWidth: 0.3,//進捗ゲージの太さ
  color: '#555',//進捗ゲージのカラー
  trailWidth: 0.2,//ゲージベースの線の太さ
  trailColor: '#bbb',//ゲージベースの線のカラー
  text: {//テキストの形状を直接指定       
    style: {//天地中央に配置
      position: 'absolute',
      left: '50%',
      top: '50%',
      padding: '0',
      margin: '-30px 0 0 0',//バーより上に配置
      transform:'translate(-50%,-50%)',
      'font-size':'1rem',
      color: '#fff',
    },
    autoStyleContainer: false //自動付与のスタイルを切る
  },
  step: function(state, bar) {
    bar.setText(Math.round(bar.value() * 100) + ' %'); //テキストの数値
  }
});

//アニメーションスタート
bar.animate(1.0, function () {//バーを描画する割合を指定します 1.0 なら100%まで描画します
  $("#splash").delay(800).fadeOut(800);//アニメーションが終わったら#splashエリアをフェードアウト
});  </script> %>
<%# ローディング画面 %>




