
<div class="contents-row">
  <div class="container">
    <div class="title">
      <p>あなたの町の飲食店を登録</p>
    </div>
    <div class="form"> 
      <%= form_with model: @food, local: true do |f| %>
      <%= render 'shared/error_messages', model: @food %>
      <div class="field">
        <%# 商品画像  　　　　　　　　　　まだCSSついてない%>
        <div class="img-upload">
          <div class="weight-bold-text">
            商品画像
            <span class="indispensable">必須</span>
          </div>
          <div class="click-upload">
            <p>
              クリックしてファイルをアップロード
            </p>
            <%= f.file_field :image, id:"food-image" %>
          </div>
        </div>
      </div>
        <%# /商品画像 　　　　　　　　　　　　　　　　　　　　%>

      <div class="field">
        <%= f.label :store_name %><br />
        <%= f.text_area :store_name, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :address %><br />
        <%= f.text_area :address, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :tagline %><br />
        <%= f.text_area :tagline,  placeholder:"キャッチコピーお願いします！" %>
      </div>
      <div class="field">
        <%= f.label :google_url %><br />
        <%= f.text_area :google_url, placeholder:"GoogleマップからのURL  空でもOK" %>
      </div>
      <div class="field">
        <%= f.label :details %><br />
        <%= f.text_area :details, placeholder:"店舗紹介文 or URL" %>
      </div>
      <div class="field">お住まいの島,ジャンル,営業時間帯
          <%= f.collection_select(:island_id, Island.all, :id, :name, {}, {class:"select-box", id:"island"}) %>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"food-genre"}) %>
          <%= f.collection_select(:opening_hour_id, OpeningHour.all, :id, :name, {}, {class:"select-box", id:"opening-hour"}) %>
      </div>
      <div class="actions">
        <input type="submit" name="commit" value="登録" data-disable-with="Register">
      </div>
    </div>
  </div>
</div>
<% end %>