
<div class="vcontents-row">
  <p class="eatlogo">島を食べる</p>
  <p class="eat-image">
    <span><%= image_tag 'eat_image.jpeg', class: "image1" %></span>
    <span><%= image_tag 'eat_image2.jpeg', class: "image2" %></span>
  </p>
  <div class="search">
    <div class="search-inner">
      <%= search_form_for @q, url: search_foods_path do |f| %>
        <%= f.label :island_id_eq, 'エリア' %>
        <%= f.collection_select :island_id_eq, Island.where.not(id: 1), :id, :name,  include_blank: '指定なし' %>
        <%= f.label :genre_id_eq, 'ジャンル' %>
        <%= f.collection_select :genre_id_eq, Genre.where.not(id: 1), :id, :name,  include_blank: '指定なし' %>
        <%= f.label :opening_hour_id_eq, '営業時間' %>
        <%= f.collection_select :opening_hour_id_eq, OpeningHour.where.not(id: 1), :id, :name,  include_blank: '指定なし' %>
        <br>
        <%= f.submit '検索' %>
      <% end %>
     </div> 
  </div>
  <div class="v-data">
    <% unless @results.present? %>
      <div class="results-zero">検索ヒットしませんでした</div>
    <% else %>
    <div class="results-num"><%=@results.count%>件ヒットしました</div>
    <% end %>
    <ul class="vfood-data">
      <% @results.each do |food| %>
      <li class='vlist'>
        <div class="vphoto-grid">
            <p><%= image_tag food.image, class: "vimg" %><p>
            <ul>
              <li><strong>島:</strong><%=food.island.name%></li>
              <li><strong>ジャンル:</strong><%=food.genre.name%></li>
              <li><strong>営業時間:</strong><%=food.opening_hour.name%></li>
            </ul>
          </div>
          <div class="vinfo-grid">
            <ul class="vinfo-field">
              <li class="tagline"><%= food.tagline %></li>
              <li><b><%= food.store_name %></b></li>
              <li class="row2"><strong>住所:</strong><%= food.address %></li>
              <li class="row3"><strong>詳細:</strong><%= food.details %></li>
              <li class="row4"><strong>Google URL:</strong><%= food.google_url %></li>
            </ul>
          </div>
      </li>
      <%end%>
    </ul>
  </div>
</div>