<%= render 'shared/header' %>

<div class="vcontents-row">
  <p class="eatlogo">島に泊まる</p>
  <p class="eat-image">
    <span><%= image_tag 'hotel_image3.jpeg', class: "image1" %></span>
    <span><%= image_tag 'hotel_image4.jpeg', class: "image2" %></span>
  </p>
  <div class="search">
    <div class="search-inner">
      <%= search_form_for @q, url: search_hotels_path do |f| %>
        <%= f.label :island_id_eq, 'エリア' %>
        <%= f.collection_select :island_id_eq, Island.all, :id, :name,  include_blank: '指定なし' %>
        <%= f.label :location_id_eq, '所在地' %>
        <%= f.collection_select :location_id_eq, Location.all, :id, :name,  include_blank: '指定なし' %>
        <%= f.label :price_range_id_eq, '価格帯' %>
        <%= f.collection_select :price_range_id_eq, PriceRange.all, :id, :name,  include_blank: '指定なし' %>
        <br>
        <%= f.submit '検索' %>
      <% end %>
    </div>
  </div>
  <div class="v-data">
    <div class="results-num"><%=@results.count%>件ヒットしました</div>
    <ul class="vfood-data">
      <% @results.each do |hotel| %>
      <li class='vlist'>
        <div class="photo-grid">
            <p><%= image_tag hotel.image, class: "vimg" %><p>
            <ul>
              <li><%= "エリア: #{hotel.island.name}" %></li>
              <li><%= "所在地: #{hotel.location.name}" %></li>
              <li><%= "価格帯: #{hotel.price_range.name}" %></li>
            </ul>
        </div>
        <div class="vinfo-grid">
          <ul class="vinfo-field">
            <li><b><%= hotel.hotel_name %></b></li>
            <li><%= hotel.address %></li>
            <li><%= hotel.tagline %></li>
            <li><%= hotel.details %></li>
            <li><%= hotel.google_url %></li>
          </ul>
        </div>
      </li>
      <%end%>
    </ul>
  </div>
</div>

<%= render 'shared/footer' %>